* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.abertura1 {animation: abertura1 5s ease-in-out;} @keyframes abertura1 {0% {transform: scale(0%);} 100% {transform: scale(100%);}}
.abertura2 {animation: abertura2 7s ease-in-out;} @keyframes abertura2 {0% {transform: scale(0%);} 10% {scale: 0%;} 100% {transform: scale(100%);}}
.abertura3 {animation: abertura3 8s ease-in-out;} @keyframes abertura3 {0% {transform: scale(0%);} 12% {scale: 0%;} 100% {transform: scale(100%);}}
.abertura4 {animation: abertura4 9s ease-in-out;} @keyframes abertura4 {0% {transform: scale(0%);} 14% {scale: 0%;} 100% {transform: scale(100%);}}
.abertura5 {animation: abertura5 10s ease-in-out;} @keyframes abertura5 {0% {transform: scale(0%);} 16% {scale: 0%;} 100% {transform: scale(100%);}}
.abertura6 {animation: abertura6 11s ease-in-out;} @keyframes abertura6 {0% {transform: scale(0%);} 18% {scale: 0%;} 100% {transform: scale(100%);}}
.abertura7 {animation: abertura7 12s ease-in-out;} @keyframes abertura7 {0% {transform: scale(0%);} 20% {scale: 0%;} 100% {transform: scale(100%);}}
.abertura8 {animation: abertura8 13s ease-in-out;} @keyframes abertura8 {0% {transform: scale(0%);} 22% {scale: 0%;} 100% {transform: scale(100%);}}
.abertura9 {animation: abertura9 14s ease-in-out;} @keyframes abertura9 {0% {transform: scale(0%);} 24% {scale: 0%;} 100% {transform: scale(100%);}}
.abertura10 {animation: abertura10 15s ease-in-out;} @keyframes abertura10 {0% {transform: scale(0%);} 26% {scale: 0%;} 100% {transform: scale(100%);}}
.abertura11 {animation: abertura11 16s ease-in-out;} @keyframes abertura11 {0% {transform: scale(0%);} 28% {scale: 0%;} 100% {transform: scale(100%);}}

.logoanim1 {animation: logo1 5s ease-in-out infinite alternate ;}
.logoanim2 {animation: logo2 3s ease-in-out infinite alternate;}

@keyframes logo1 {
0% {transform: rotate(8deg);}
100% {transform: rotate(-8deg)}
}

@keyframes logo2 { 
0% {transform: scale(90%);}
100% {transform: scale(100%);}
}

body,
html {
  width: 100%;
  height: 200vh;
  background-color: black;
}

.centro {
  display: block;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.separador {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

.sep1 {animation: sep1a 5s alternate infinite ease-in-out;}

@keyframes sep1a {
  0% {transform: rotate(1deg);}
  100% {transform: rotate(-1deg);}
}

.sep2 {animation:sep2a 5s alternate infinite ease-in-out;}

@keyframes sep2a {
  0% {transform: rotate(-1deg);}
  100% {transform: rotate(1deg);}
}

.sep3 {animation:sep3a 5s alternate infinite ease-in-out;}

@keyframes sep3a {
  0% {transform: rotate(1deg);}
  100% {transform: rotate(-1deg);}
}

.sep4 {animation:sep4a 5s alternate infinite ease-in-out;}

@keyframes sep4a {
  0% {transform: rotate(-1deg);}
  100% {transform: rotate(1deg);}
}

  .blocos { 
  position: relative;
  left: 8%;
  width: 42%;
  }

  .blocoselecionado {
    will-change: transform;
    transition: transform 3s;
  }

  .blocoselecionado:hover {
    transition: transform 4s;
    transform: scale(105%)
  }