* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.abertura {animation: abertura 5s;}

@keyframes abertura {
  0% {transform: scale(0%)}
  100% {transform: scale(100%)}
}

.logoanim1 {animation: logo1 5s ease-in-out infinite alternate ;}
.logoanim2 {animation: logo2 3s ease-in-out infinite alternate;}

@keyframes logo1 {
0% {transform: rotate(8deg);}
100% {transform: rotate(-8deg)}
}

@keyframes logo2 { 
0% {transform: scale(90%);}
100% {transform: scale(100%);}
}


body,
html {
  width: 100%;
  height: 200vh;
  background-color: black;
}

.centro {
  display: block;
  text-align: center;
  width: auto;
  height: auto;
}

.separador {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

.sep1 {animation: sep1a 5s alternate infinite ease-in-out;}

@keyframes sep1a {
  0% {transform: rotate(1deg);}
  100% {transform: rotate(-1deg);}
}

.sep2 {animation:sep2a 5s alternate infinite ease-in-out;}

@keyframes sep2a {
  0% {transform: rotate(-1deg);}
  100% {transform: rotate(1deg);}
}

.sep3 {animation:sep3a 5s alternate infinite ease-in-out;}

@keyframes sep3a {
  0% {transform: rotate(1deg);}
  100% {transform: rotate(-1deg);}
}

.sep4 {animation:sep4a 5s alternate infinite ease-in-out;}

@keyframes sep4a {
  0% {transform: rotate(-1deg);}
  100% {transform: rotate(1deg);}
}


  .blocos { 
  position: relative;
  left: 5%;
  width: 45%;
  }

  .blocoselecionado {
    will-change: transform;
    transition: transform 3s;
  }

  .blocoselecionado:hover {
    transition: transform 4s;
    transform: scale(105%)
  }