* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.abertura1 {animation: abertura1 5s ease-in-out;} @keyframes abertura1 {0% {transform: scale(0%);} 100% {transform: scale(100%);}}
.abertura2 {animation: abertura2 7s ease-in-out;} @keyframes abertura2 {0% {opacity: 0%;} 45% {opacity:0%;} 100% {opacity: 100%;}}
.abertura3 {animation: abertura3 11s ease-in-out;} @keyframes abertura3 {0% {opacity: 0%;} 47% {opacity:0%;} 100% {opacity: 100%;}}
.abertura4 {animation: abertura4 12s ease-in-out;} @keyframes abertura4 {0% {opacity: 0%;} 49% {opacity:0%;} 100% {opacity: 100%;}}
.abertura5 {animation: abertura5 13s ease-in-out;} @keyframes abertura5 {0% {opacity: 0%;} 51% {opacity:0%;} 100% {opacity: 100%;}}
.abertura6 {animation: abertura6 14s ease-in-out;} @keyframes abertura6 {0% {opacity: 0%;} 53% {opacity:0%;} 100% {opacity: 100%;}}
.abertura7 {animation: abertura7 15s ease-in-out;} @keyframes abertura7 {0% {opacity: 0%;} 55% {opacity:0%;} 100% {opacity: 100%;}}
.abertura8 {animation: abertura8 16s ease-in-out;} @keyframes abertura8 {0% {opacity: 0%;} 57% {opacity:0%;} 100% {opacity: 100%;}}
.abertura9 {animation: abertura9 17s ease-in-out;} @keyframes abertura9 {0% {opacity: 0%;} 59% {opacity:0%;} 100% {opacity: 100%;}}
.abertura10 {animation: abertura10 18s ease-in-out;} @keyframes abertura10 {0% {opacity: 0%;} 61% {opacity:0%;} 100% {opacity: 100%;}}
.abertura11 {animation: abertura11 19s ease-in-out;} @keyframes abertura11 {0% {opacity: 0%;} 63% {opacity:0%;} 100% {opacity: 100%;}}

.logoanim1 {animation: logo1 5s ease-in-out infinite alternate ;}
.logoanim2 {animation: logo2 3s ease-in-out infinite alternate;}

@keyframes logo1 {
0% {transform: rotate(8deg);}
100% {transform: rotate(-8deg)}
}

@keyframes logo2 { 
0% {transform: scale(90%);}
100% {transform: scale(100%);}
}

body,
html {
  width: 100%;
  height: 200vh;
  background-color: black;
}

.titulo { display: block; width: 100%; margin-left:auto; margin-right: auto; animation: titulo 3s infinite alternate ease-in-out}

@keyframes titulo {0% {transform:rotate(1deg);} 100% {transform:rotate(-1deg)}}

.logo0 {
  display: block;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1.5%;
}

.atualizacao {
  display:static;
  margin-left: 10%;
  width: 25%;
  margin-bottom: 99%;
  margin-top: -20%
             }

.separador {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
  }

.sep1 {animation: sep1a 5s alternate infinite ease-in-out;}

@keyframes sep1a {
  0% {transform: rotate(1deg);}
  100% {transform: rotate(-1deg);}
}

.sep2 {animation:sep2a 5s alternate infinite ease-in-out;}

@keyframes sep2a {
  0% {transform: rotate(-1deg);}
  100% {transform: rotate(1deg);}
}

.sep3 {animation:sep3a 5s alternate infinite ease-in-out;}

@keyframes sep3a {
  0% {transform: rotate(1deg);}
  100% {transform: rotate(-1deg);}
}

.sep4 {animation:sep4a 5s alternate infinite ease-in-out;}

@keyframes sep4a {
  0% {transform: rotate(-1deg);}
  100% {transform: rotate(1deg);}
}

  .blocos { 
  position: relative;
  left: 10%;
  width: 40%;
  }

  .blocoselecionado {
    will-change: transform;
    transition: transform 3s;
  }

  .blocoselecionado:hover {
    transition: transform 2s;
    transform: scale(105%)
  }

  .fox1 {

    display: block;
    animation: fox1 6s infinite alternate ease-in-out;
    margin-right: auto;
    width: 12%;
    margin-left: 68.1%;
    margin-top: -13%;
  }

  @keyframes fox1 {
    0% {transform: rotate(-20deg);}
    100% {transform: rotate(50deg);}
  }

  .fox2 {
    display: block;
    animation: fox2 4s infinite alternate ease-in-out;
    width: 8.5%;
    margin-right: auto;
    margin-left: 66.6%;
    margin-top: -9%; 
  }
  
  @keyframes fox2 {
    0% {transform: rotate(10deg);}
    100% {transform: rotate(-50deg);}
  }
  
  .fox3 {
    display: inline;
    animation: fox3 3s infinite;
    width: 21%;
    margin-right: auto;
    margin-left: 66%;
    margin-top: -18.1%;
  }
  
@keyframes fox3 {
  100% {scale: 100%;}
}

  .Porsf {
    display: block;
    margin-left: 61%;
    margin-right: auto;
    width: 30%;
    margin-top: -98%
  }